@page "/congregants/add-self"
@using Blazored.FluentValidation
@layout HomeLayout
@inject IMediator Mediator
@inject NavigationManager NavManager
@inject IHttpContextAccessor HttpContextAccessor


<div>
<div class="relative bg-sky-700 pb-32 overflow-hidden">
    <!-- Menu open: "bg-sky-900", Menu closed: "bg-transparent" -->
    <nav class="bg-transparent relative z-10 border-b border-teal-500 border-opacity-25 lg:bg-transparent lg:border-none">
        <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
            <div class="relative h-16 flex items-center justify-between lg:border-b lg:border-sky-800">
                <div class="px-2 flex items-center lg:px-0">
                    <div class="flex-shrink-0">
                        <img class="block h-8 w-auto" src="/StaticFiles/img/logo.webp" alt="GoodShepherd AGC">
                    </div>
                    <div class="hidden lg:block lg:ml-6 lg:space-x-4">
                        <div class="flex">
                            <!-- Current: "bg-black bg-opacity-25", Default: "hover:bg-sky-800" -->
                            <a href="https://www.goodshepherdagc.com/" class="hover:bg-sky-800 rounded-md py-2 px-3 text-sm font-medium text-white">Home</a>
                            <a href="" class="bg-black bg-opacity-25 rounded-md py-2 px-3 text-sm font-medium text-white">Congregants</a>
                        </div>
                    </div>
                </div>
                <div class="flex-1 px-2 flex justify-center lg:ml-6 lg:justify-end">
                    <div class="max-w-lg w-full lg:max-w-xs">
                        <label for="search" class="sr-only">Search</label>
                        <div class="relative text-sky-100 focus-within:text-gray-400">
                            <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                                <!-- Heroicon name: solid/search -->
                                <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
                                </svg>
                            </div>
                            <input id="search" name="search" class="block w-full bg-sky-700 bg-opacity-50 py-2 pl-10 pr-3 border border-transparent rounded-md leading-5 placeholder-sky-100 focus:outline-none focus:bg-white focus:ring-white focus:border-white focus:placeholder-gray-500 focus:text-gray-900 sm:text-sm" placeholder="Search" type="search">
                        </div>
                    </div>
                </div>
                <div class="flex lg:hidden">
                    <!-- Mobile menu button -->
                    <button type="button" class="p-2 rounded-md inline-flex items-center justify-center text-sky-200 hover:text-white hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="sr-only">Open main menu</span>
                        <!--
                        Icon when menu is closed.

                        Heroicon name: outline/menu

                        Menu open: "hidden", Menu closed: "block"
                        -->
                        <svg class="block flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                        <!--
                        Icon when menu is open.

                        Heroicon name: outline/x

                        Menu open: "block", Menu closed: "hidden"
                        -->
                        <svg class="hidden flex-shrink-0 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:block lg:ml-4">

                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="bg-sky-900 lg:hidden" id="mobile-menu">
            <div class="pt-2 pb-3 px-2 space-y-1">
                <!-- Current: "bg-black bg-opacity-25", Default: "hover:bg-sky-800" -->
                <a href="https://www.goodshepherdagc.com/" class="hover:bg-sky-800 block rounded-md py-2 px-3 text-base font-medium text-white">Home</a>

                <a href="/congregants" class="bg-black bg-opacity-25 block rounded-md py-2 px-3 text-base font-medium text-white">Congregants</a>

            </div>
            <div class="pt-4 pb-3 border-t border-sky-800">
                <div class="flex items-center px-4">
                </div>
                <div class="mt-3 px-2">
                </div>
            </div>
        </div>
    </nav>
    <!-- Menu open: "bottom-0", Menu closed: "inset-y-0" -->
    <div aria-hidden="true" class="inset-y-0 absolute inset-x-0 left-1/2 transform -translate-x-1/2 w-full overflow-hidden lg:inset-y-0">
        <div class="absolute inset-0 flex">
            <div class="h-full w-1/2" style="background-color: #0a527b"></div>
            <div class="h-full w-1/2" style="background-color: #065d8c"></div>
        </div>
        <div class="relative flex justify-center">
            <svg class="flex-shrink-0" width="1750" height="308" viewBox="0 0 1750 308" xmlns="http://www.w3.org/2000/svg">
                <path d="M284.161 308H1465.84L875.001 182.413 284.161 308z" fill="#0369a1"/>
                <path d="M1465.84 308L16.816 0H1750v308h-284.16z" fill="#065d8c"/>
                <path d="M1733.19 0L284.161 308H0V0h1733.19z" fill="#0a527b"/>
                <path d="M875.001 182.413L1733.19 0H16.816l858.185 182.413z" fill="#0a4f76"/>
            </svg>
        </div>
    </div>
    <header class="relative py-10">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-white">Add Congregant data</h1>
        </div>
    </header>
</div>

<main class="relative -mt-32">
    <div class="max-w-screen-xl mx-auto pb-6 px-4 sm:px-6 lg:pb-16 lg:px-8">
        <div class="bg-white rounded-lg shadow overflow-hidden">
            <div class="divide-y divide-gray-200 lg:grid lg:grid-cols-12 lg:divide-y-0 lg:divide-x">
                <aside class="py-6 lg:col-span-3">
                    <nav class="space-y-1">
                        <!-- Current: "bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700", Default: "border-transparent text-gray-900 hover:bg-gray-50 hover:text-gray-900" -->
                        <a href="#" class="bg-teal-50 border-teal-500 text-teal-700 hover:bg-teal-50 hover:text-teal-700 group border-l-4 px-3 py-2 flex items-center text-sm font-medium" aria-current="page">
                            <!--
                            Heroicon name: outline/user-circle

                            Current: "text-teal-500 group-hover:text-teal-500", Default: "text-gray-400 group-hover:text-gray-500"
                            -->
                            <svg class="text-teal-500 group-hover:text-teal-500 flex-shrink-0 -ml-1 mr-3 h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                            <span class="truncate"> Congregant Data </span>
                        </a>
                    </nav>
                </aside>

                @if (Loading)
                {
                    <div class="h-[40vh] w-max flex items-center justify-center lg:col-span-9 py-6 px-4" role="alert">
                        <span class="font-medium">Please wait!</span>
                    </div>
                }
                else
                {
                    if (IpRegistered)
                    {
                        
                        <div class="divide-y divide-gray-200 lg:col-span-9 h-[40vh]">
                            <div class="py-6 px-4 sm:p-6 lg:pb-8">
                                <div>
                                    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
                                        <span class="font-medium">Thanks!</span> We already have your details
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    }
                    else
                    {
                        <EditForm class="divide-y divide-gray-200 lg:col-span-9" Model="Model" OnValidSubmit="SubmitCongregant" FormName="congregant">
                            <!-- Profile section -->
                            <div class="py-6 px-4 sm:p-6 lg:pb-8">
                                <div>
                                    <h2 class="text-lg leading-6 font-medium text-gray-900">Congregant Data</h2>
                                    <p class="mt-1 text-sm text-transparent">.</p>
                                </div>

                                <div>
                                    @foreach (var error in Errors)
                                    {
                                        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                                            <span class="font-medium">Error!</span> @error
                                        </div>
                                    }
                                    @if (!string.IsNullOrWhiteSpace(Success))
                                    {
                                        <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50" role="alert">
                                            <span class="font-medium">Cheers!</span> @Success
                                        </div>
                                    }
                                    <FluentValidationValidator/>
                                    <div class="">
                                        <ValidationSummary class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50"/>
                                    </div>

                                </div>

                                <div class="mt-6 grid grid-cols-12 gap-6">
                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                                        <InputText @bind-Value="Model.FirstName" id="first-name" autocomplete="given-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm"/>
                                    </div>

                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="last-name" class="block text-sm font-medium text-gray-700">Middle name <small>(optional)</small></label>
                                        <InputText @bind-Value="Model.MiddleName" id="middle-name" autocomplete="family-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm"/>
                                    </div>


                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                                        <InputText @bind-Value="Model.LastName" id="last-name" autocomplete="organization" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm"/>
                                    </div>

                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="first-name" class="block text-sm font-medium text-gray-700">Email</label>
                                        <InputText @bind-Value="Model.Email" id="email" autocomplete="given-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm"/>
                                    </div>

                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="phone-number" class="block text-sm font-medium text-gray-700">Phone Number</label>
                                        <InputText @bind-Value="Model.PhoneNumber" id="phone-number" autocomplete="family-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm"/>
                                    </div>

                                    <div class="col-span-12 sm:col-span-6">
                                        <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                                        <InputText @bind-Value="Model.Address" id="address" autocomplete="family-name" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-sky-500 focus:border-sky-500 sm:text-sm"/>
                                    </div>

                                </div>
                            </div>

                            <!-- Privacy section -->
                            <div class="pt-6 divide-y divide-gray-200">
                                <div class="px-4 sm:px-6">
                                    <ul role="list" class="mt-2 divide-y divide-gray-200">
                                        <li class="py-4 flex items-center justify-between">
                                            <div class="flex flex-col">
                                                <p class="text-sm font-medium text-gray-900" id="privacy-option-1-label">Confirm the keyed in data.</p>
                                                <p class="text-sm text-gray-500" id="privacy-option-1-description">I confirm that all the information given above is correct.</p>
                                            </div>

                                            <label class="inline-flex items-center mb-5 cursor-pointer">
                                                <InputCheckbox @bind-Value="Model.Acknowledge" class="sr-only peer"/>
                                                <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:w-5 after:h-5 after:transition-all peer-checked:bg-blue-600"></div>
                                                <span class="ms-3 text-sm font-medium text-gray-900"></span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt-4 py-4 px-4 flex justify-end sm:px-6">
                                    <a href="https://www.goodshepherdagc.com" class="bg-white border border-gray-300 rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Cancel</a>
                                    <button type="submit" class="ml-5 bg-sky-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-sky-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-500">Submit</button>
                                </div>
                            </div>
                        </EditForm>
                    }
                }


            </div>
        </div>
    </div>
</main>
</div>